// Hat tip to: https://seesparkbox.com/foundry/sassy_grayscale

$clr-white: #ffffff;
$clr-gray-95: #f6f6f6;
$clr-gray-90: #e3e3e3;
$clr-gray-70: #b0b0b0;
$clr-gray-40: #696969;
$clr-gray-15: #222222;
$clr-black: #000000;

$clr-blue: #b1e5d9;
$clr-orange: #f1603e;
$clr-dg-yellow: #ffdd00;

$clr-dark: #152026;
$clr-light: #f3f5f6;
$clr-highlight: $clr-blue;
$clr-highlight-alt: #426578;
