@charset 'utf-8';

// Libraries
@import 'normalize.css/normalize';
@import 'bourbon/core/bourbon';
@import 'bourbon-neat/app/assets/stylesheets/neat';


// Defaults
@import 'defaults/breakpoints';
@import 'defaults/colors';
@import 'defaults/tags';
@import 'defaults/typography';
h1 {
  color:red;
}


// Components
@import 'components/content';
@import 'components/footer';
@import 'components/header';


// Pages
@import 'pages/front';
